<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="unitTestProjectPath" value="C:\Projects\CWI\TechnicalTests\TechnicalTests.ChangeDate.Tests\TechnicalTests.ChangeDate.Test.csproj" />
    <add key="candidatesProjectPath" value="C:\Projects\CWI\TechnicalTests\TechnicalTests.ChangeDate.Candidates\TechnicalTests.Candidates.csproj" />
    <add key="msTestPath" value="C:/Program Files (x86)/Microsoft Visual Studio 14.0/Common7/IDE/MSTest.exe" />
  </appSettings>
</configuration>